.metronome-container {
    margin-bottom: 2rem;
    width: 100%;
}

.metronome-bar {
    background-color: var(--gray);
    border-radius: 0.5rem;
    height: 3rem;
    margin-bottom: 0.5rem;
    position: relative;
    width: 100%;
}

.metronome-progress-bar {
    background-color: var(--blue);
    border-radius: 0.5rem;
    height: 100%;
    position: absolute;
    top: 0;
}

.count-marker {
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: 10;
}