 .music-instrument {
     margin-left: 10px;
     margin-bottom: 10px;
     margin-right: 10px;
     border-radius: 15px;
     background-color: var(--green);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 100px;
     cursor: pointer;
     transition: transform 0.1s;
     user-select: none;

 }