 .game-area {
     position: relative;
     width: 100%;
     height: 200px;
     background: var(--white);
     overflow: hidden;
     margin: 20px 0;
 }

 .treble-clef {
     font-size: 170px
 }


 .target-line {
     position: absolute;
     left: 10%;
     top: 0;
     bottom: 0;
     width: 2px;
     background: var(--black);
     z-index: 3;
 }

 /* Staff lines */
 .game-area::before {
     content: "";
     position: absolute;
     inset: 0;
     background-image: linear-gradient(to bottom,
             transparent 40%,
             var(--black) 40%, var(--black) 41%,
             transparent 41%, transparent 47.5%,
             var(--black) 47.5%, var(--black) 48.5%,
             transparent 48.5%, transparent 55%,
             var(--black) 55%, var(--black) 56%,
             transparent 56%, transparent 62.5%,
             var(--black) 62.5%, var(--black) 63.5%,
             transparent 63.5%, transparent 70%,
             var(--black) 70%, var(--black) 71%,
             transparent 71%);
     z-index: 1;
 }


 .music-note {
     position: absolute;
     top: 50%;
     width: 20px;
     height: 20px;
     background: var(--black);
     border-radius: 50%;
     transform: translateY(-50%);
     z-index: 2;
 }

 /* quarter note's line */
 .music-note::after {
     content: "";
     position: absolute;
     width: 4px;
     height: 40px;
     background: var(--black);
     top: -29px;
     left: 92%;
     transform: translateX(-50%);
     z-index: 5;
 }

 /* Note position */
 .music-note.c4 {
     top: 70%;
 }

 .music-note.d4 {
     top: 63%;
 }

 .music-note.e4 {
     top: 56%;
 }

 .music-note.f4 {
     top: 49%;
 }

 .music-note.g4 {
     top: 42%;
 }

 .music-note.a4 {
     top: 35%;
 }

 .music-note.b4 {
     top: 28%;
 }

 .music-note.c5 {
     top: 21%;
 }