.MusicStaff {
    background-color: pink;
    position: relative;
    width: 100%;
}

.MusicStaff>.Notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.Note {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    transition: transform 0.075s ease-in-out;
}

.Notes>.Active {
    transform: scale(1.5);
}