.music-staff {
    background-color: var(--light-gray);
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.music-staff>.notes::before {
    background-color: var(--gray);
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
    top: 77%;
    width: 100%;
    z-index: 1;
}


.music-staff>.notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.note {
    align-items: center;
    display: flex;
    font-size: 40px;
    height: 100%;
    justify-content: center;
    transition: transform 0.075s ease-in-out;
    width: 100%;
    z-index: 2;
}

.notes>.active {
    transform: scale(1.35) translateY(-4px);
}