.MusicStaff {
    background-color: pink;
}

/* .MusicStaff {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: 40px;
}


.staffLine {
    height: 2px;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 12%;
}

.notes {
    display: flex;
}

.note {
    width: 25%;
    font-size: 40px;
    margin-top: -40px;
    transition: transform 0.075s ease-in-out;
}

.active {
    transform: scale(1.5) translateY(-4.5px) translateX(12px);
} */