.return-button,
.gear {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return-button {
    justify-self: center;
}

.gear {
    justify-self: center;
}

.blank {
    grid-column: 2 / 3;
}