.progress-container {
    width: 80%;
    height: 20px;
    background: lightgray;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-bar {
    height: 100%;
    background: green;
    transition: width 0.2s;
}