  .start-pause-button {
      background-color: var(--dark-gray);
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .start-button,
  .pause-button {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 8px;
      background-color: var(--lime-green);
      color: var(--white);
      font-size: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .pause-button {
      background-color: var(--red);
  }