  .TapDots {
      background-color: orange;
  }

  /* .tapDotsContainer {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 10px;
    margin: 10px auto;
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 5px;
}


.tapDot {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
}

.correctTap {
    background-color: #4CAF50;
}

.incorrectTap {
    background-color: #F44336;
} */