  .tap-dots {
      position: relative;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 12fr 1fr;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 0 0 15px 15px;
      background-color: var(--light-gray);
      grid-template-areas:
          ". TapDot .";
  }


  .tap-dot {
      grid-area: TapDot;
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease;
  }

  .correct-tap {
      background-color: var(--green);
  }

  .incorrect-tap {
      background-color: var(--red);
  }