  .TapDots {
      background-color: lightgray;
      position: relative;
      width: 100%;
      height: 15px;
      border-radius: 5px;
  }


  .TapDot {
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease;
  }

  .CorrectTap {
      background-color: #4CAF50;
  }

  .IncorrectTap {
      background-color: #F44336;
  }