 .tempo {
   align-items: center;
   border-radius: 0 15px 0 0;
   display: flex;
   font-weight: bold;
   height: 100%;
   justify-content: center;
   margin-right: 10px;
 }

 .bpm-dropdown {
   padding: 5px;
   font-size: 16px;
   border-radius: 5px;
   border: 1px solid var(--white);
 }

 .bpm-control {
   align-items: center;
   display: flex;
   gap: 0.5rem;
 }

 .bpm-label {
   font-weight: 500;
 }