  .tempo {
    align-items: center;
    background-color: var(--light-gray);
    border-radius: 0 15px 0 0;
    display: flex;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    margin-right: 10px;
  }