@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --dark-green: rgb(88 204 2);
  --green: rgb(137 226 25);
  --light-green: rgb(191 241 153);
  --yellow: rgb(255 200 0);
  --orange: rgb(255 150 0);
  --dark-red: rgb(211 49 49);
  --red: rgb(255 75 75);
  --pink: rgb(247 200 201);
  --dark-purple: rgb(133 73 186);
  --purple: rgb(165 96 232);
  --light-purple: rgb(206 130 255);
  --deep-blue: rgb(43 112 201);
  --blue: rgb(28 176 246);
  --white: rgb(255 255 255);
  --gray: rgb(207 207 207);
  --very-light-gray: rgb(247 247 247);
  --light-gray: rgb(229 229 229);
  --medium-gray: rgb(175 175 175);
  --dark-gray: rgb(119 119 119);
  --very-dark-gray: rgb(75 75 75);
  --border-gray: rgb(55 70 79);
  --hover-border-gray: rgb(32 47 54);
  --black: rgb(18 31 37);

  background-color: var(--black);
  font-family: Poppins, sans-serif;
  font-size: 25px;
}

.app-container {
  color: var(--white);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}