* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  height: 100vh;
  grid-template-areas:
    "ProgressBar ProgressBar ProgressBar ProgressBar"
    "TimeSignature StartPauseButton StartPauseButton BlankSpace"
    "MusicStaff MusicStaff MusicStaff MusicStaff"
    "TapDots TapDots TapDots TapDots"
    "Instructions Instructions Instructions Instructions"
    "MusicInstrument MusicInstrument MusicInstrument MusicInstrument"
    "MusicInstrument MusicInstrument MusicInstrument MusicInstrument"
    "MusicInstrument MusicInstrument MusicInstrument MusicInstrument"
    "MusicInstrument MusicInstrument MusicInstrument MusicInstrument"
    "MusicInstrument MusicInstrument MusicInstrument MusicInstrument";

}

.ProgressBar {
  grid-area: ProgressBar;
}

.TimeSignature {
  grid-area: TimeSignature;
}

.StartPauseButton {
  grid-area: StartPauseButton;
}

.BlankSpace {
  grid-area: BlankSpace;
}

.MusicStaff {
  grid-area: MusicStaff;
}

.TapDots {
  grid-area: TapDots;
}

.Instructions {
  grid-area: Instructions;
}

.MusicInstrument {
  grid-area: MusicInstrument;
}